---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import About from "@components/aboutme.astro";
import Logo from "@components/logo.astro";
import Logo2 from "@components/logo2.astro";
import Header from "@components/header.astro";
import Drink from "@components/menudrink.astro";
import Menu from "@components/menupopula.astro";
import Introduce from "@components/intro.astro";
import Progress from "@components/progressbar.astro";
import Quality from "@components/quality.astro";
import Leaves from "@components/leaves.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);
---

<Layout title=" Trang Chủ ">
  <Container>
    <main>
      <div class="header grid gap-10 lg:gap-10 md:grid-cols-2 bg px-1.5 ">
        <div><Header></Header></div>
        <div><Logo></Logo></div>
      </div>
      <div class="header2 grid gap-10 lg:gap-10 md:grid-cols-2">
        <div><Logo2></Logo2></div>
        <div><About></About></div>
      </div>
      <div class="intro">
      <Introduce></Introduce>
    </div>
    <br><br>
    <h1 class="text-6xl text-center ">Menu</h1>  
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      <Menu></Menu>
    </div>
    <div class="progress">
        <Progress></Progress>
    </div>
    <div class="quality">
        <Quality></Quality>
    </div>
    <div class="drink">
        <Drink></Drink>
    </div>
   <div class="leaves">
    <Leaves></Leaves>
   </div>
    </main>
  </Container>
</Layout>