---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import About from "@components/aboutme.astro";
import Logo from "@components/logo.astro";
import Logo2 from "@components/logo2.astro";
import Header from "@components/header.astro";
import Drink from "@components/menudrink.astro";
import Introduce from "@components/intro.astro";
import Progress from "@components/progressbar.astro";
import Quality from "@components/quality.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);
---

<Layout title="Trang chủ">
  <Container>
    <main>
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2 ">
        <!-- {
          latestPosts
            .slice(0, 1)
            .map((post) => (
              <Postlist post={post} aspect="landscape" preloadImage={true} />
            ))
        } -->
        <div><Header></Header></div>
        <div class="py-6 md:order-1 hidden md:block"><Logo></Logo></div>
      </div>
      <div class="grid gap-10 lg:gap-10 md:grid-cols-2">
        <div><Logo2></Logo2></div>
        <div><About></About></div>
      </div>
      
      <Introduce></Introduce>
       
        <Progress></Progress>
        <Quality></Quality>
        <Drink></Drink>
    </main>
  </Container>
</Layout>
