<section>
<h1
  class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
  Cà Phê NUBI
</h1>
<p class="text-lg mt-4 text-slate-600 max-w-xl">
  Astroship is a starter template for startups, marketing websites & landing
  pages.<wbr /> Built with Astro.build and TailwindCSS. You can quickly create any
  website with this starter.
</p>
<div class="mt-6 flex flex-col sm:flex-row gap-3">
  <a
    href="https://nubicoffee.netlify.app/menu/"
    rel="noopener"
    class=" button rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-black text-white hover:bg-gray-800 border-2 border-transparent flex gap-1 items-center justify-center"
    >
    Menu
  </a>
</div>
</section>
<style>
  .button {
    z-index: 1;
  }   
  section{
        margin-top: 80px;
    }
</style>
