<div
    class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">coffee bean</h4><p
        class="mt-3 text-4xl font-bold text-black md:text-4xl">
        <div class="shiny">
      <img src="../menu-1.png" alt="">
    </div>
      </p>

    </div><ul class="grid mt-8 text-left gap-y-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
    </ul><div class="flex mt-8">
      <a href="#" class="link-btn">15.000d</a>
    </div>
   </div>
   <div
    class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">coffee bean</h4><p
        class="mt-3 text-4xl font-bold text-black md:text-4xl">
        <div class="shiny">
      <img src="../menu-1.png" alt="">
    </div>
      </p>

    </div><ul class="grid mt-8 text-left gap-y-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
    </ul><div class="flex mt-8">
      <a href="#" class="link-btn">15.000d</a>
    </div>
   </div>
   <div
    class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">coffee bean</h4><p
        class="mt-3 text-4xl font-bold text-black md:text-4xl">
        <div class="shiny">
      <img src="../menu-1.png" alt="">
    </div>
      </p>

    </div><ul class="grid mt-8 text-left gap-y-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
    </ul><div class="flex mt-8">
      <a href="#" class="link-btn">15.000d</a>
    </div>
   </div>
   <div
    class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">coffee bean</h4><p
        class="mt-3 text-4xl font-bold text-black md:text-4xl">
        <div class="shiny">
      <img src="../menu-1.png" alt="">
    </div>
      </p>

    </div><ul class="grid mt-8 text-left gap-y-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
    </ul><div class="flex mt-8">
      <a href="#" class="link-btn">15.000d</a>
    </div>
   </div>
   <div
    class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">coffee bean</h4><p
        class="mt-3 text-4xl font-bold text-black md:text-4xl">
        <div class="shiny">
      <img src="../menu-1.png" alt="">
    </div>
      </p>

    </div><ul class="grid mt-8 text-left gap-y-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
    </ul><div class="flex mt-8">
      <a href="#" class="link-btn">15.000d</a>
    </div>
   </div>
   <div
    class="flex flex-col w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">coffee bean</h4><p
        class="mt-3 text-4xl font-bold text-black md:text-4xl">
        <div class="shiny">
      <img src="../menu-1.png" alt="">
    </div>
      </p>
 
    </div><ul class="grid mt-8 text-left gap-y-4">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eos.</p>
    </ul><div class="flex mt-8">
      <a href="#" class="link-btn">15.000d</a>
    </div>
   </div>


 <style>
   



    section {
     
    }
        .menu {
      background: #eee;
    }
    
    .menu .box-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
          grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      gap: 2rem;
    }
    
    .menu .box-container .box {
      text-align: center;
      padding: 3rem 2rem;
      border-radius: .5rem;
    }
    
    .menu .box-container .box:hover {
      background: #fff;
      -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      -webkit-transform: translateY(-1rem);
              transform: translateY(-1rem);
    }
    
    .menu .box-container .box img {
      height: 15rem;
      margin-bottom: 2rem;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    
    }
    
    .menu .box-container .box h3 {
      font-size: 2rem;
      text-transform: capitalize;
      color: #222;
    }
    
    .menu .box-container .box p {
      padding: 1rem 0;
      font-size: 1.5rem;
      line-height: 2;
      color: #666;
      margin-bottom: 0;
    }
      .shiny{
      width: 300px;
      height: auto;
      overflow: hidden;
      position: relative;
    }
      img{
      transition: 0.5s;
    }
    .shiny::after{
      content: "";
      position: absolute;
      width: 30%;
      height: 100%;
      top: 0;
      background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.3));
      left: -75%;
      z-index: 2;
      transform: skew(22deg);
    }
    .shiny:hover::after{
     animation: light 1.2s;
    }
    @keyframes light {
      0%{
        left: -75%;
      }
      100%{
        left: 175%;
      }
    }
    .shiny:hover img{
       transform: scale(1.05);
       filter: brightness(1.2);
      }
    </style>


   
    


