---
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource/inter/variable.css";

import { SEO } from "astro-seo";

export interface Props {
  title?: string;
  desc?: string;
  ogimage?: string;
}

const canonicalURL = new URL("https://nubicoffee.netlify.app/").toString();

const { title, desc, ogimage} = Astro.props;

const resolvedOGImage = new URL("/nubi.png", "https://nubicoffee.netlify.app/").toString();

const makeTitle = title
  ? title + " - " + "Nubi Coffee"
  : "Nubi — ngọt từng hương vị";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={desc ||
        "Nubi coffee cà phê là nơi đưa cà phê trở lại đúng và thật với giá trị của nó từ phương thức pha chế cho đến cách thưởng thức một tách cà phê phong cách, đúng điệu; tự hào là thương hiệu mang sản phẩm cafe sạch đến với người dân miền Tây."}
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "https://www.facebook.com/profile.php?id=100088598267687",
        card: "098 345 28 14",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Stablo - Blog Starter Template for Astro`,
          image: resolvedOGImage,
        },
        image: {
          alt: "Nubi coffee",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
